# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
Render.filters
Render.sln
Render.v11.suo
Render.vcxproj
Render.vcxproj.filters
Render.vcxproj.user
/Render/Debug
/Render/x64
/tinyGLTF
/x64
/Include
